name: upload_s3

on:
  push:
    branches:
      - 'main'
  schedule:
    - cron: '0 6 * * *'

jobs:
  upload_s3:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Date
        run: echo DATE=$(date +%s) >> $GITHUB_ENV
      - name: Cache
        uses: actions/cache@v3
        with:
          path: .cache
          key: static-cache-${{ env.DATE }}
          restore-keys: |
            static-cache-
      - name: Install Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'npm'
      - run: npm install
      - name: test
        run: npm test
        env:
          TMDB_KEY: ${{ secrets.TMDB_KEY }}
          OMDB_KEY: ${{ secrets.OMDB_KEY }}
      - name: deploy
        run: npm run deploy
        env:
          AWS_KEY: ${{ secrets.AWS_KEY }}
          AWS_SECRET: ${{ secrets.AWS_SECRET }}
          TMDB_KEY: ${{ secrets.TMDB_KEY }}
          OMDB_KEY: ${{ secrets.OMDB_KEY }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_ACCESS_KEY_ID: ${{ secrets.CLOUDFLARE_ACCESS_KEY_ID }}
          CLOUDFLARE_SECRET_ACCESS_KEY: ${{ secrets.CLOUDFLARE_SECRET_ACCESS_KEY }}
          CLOUDFLARE_BUCKET: ${{ secrets.CLOUDFLARE_BUCKET }}
      - name: Store
        uses: actions/upload-artifact@v3
        with:
          name: dump
          path: dump.csv
